* {
  margin: 0;
  height: 100vh;

  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#startbtn {
  position: absolute;
  top: 45%;
  left: 44%;
  z-index: 2;
  height: 4rem;
  font-size: 2rem;
  background-color: hotpink;
}

#startbtn:hover {
  background-color: rgb(249, 166, 207);
  cursor: pointer;
}
